/*Sidebar */
.sidebar{
    width: 290px;
    border-right: 1px solid grey;
}
.sidebar-list{
    list-style: none;
    margin-bottom: 0;
    margin-top: 5px;
    padding-bottom: 0;
    top: 0;
}
.sidebar-title{
    display: inline-block;
    border: 0 solid black;
    color: #fff;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 18px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.sidebar-icon{
    display: flex;
    align-items: center;
    height: 2.25rem;
    width: 100%;
    margin-right: 20px;
    padding: 2px;
    transition: all 0.3s ease-out;
}
.sidebar-icon:hover {
    background: rgba(51,153,255,0.1); 
    color: #00BFFF;
    border-radius: 50px;
}
.sidebar-list-item{
    margin-bottom: 0.4rem;
    width: max-content;
}
a{
    text-decoration: none;
    color: #fff;
}
.MuiSvgIcon-root{
    font-size: 1.9rem !important;
}


/* Tweet Button Div */
.tweet-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 15px;
    width: 75%
}


/*Account */ 
.sidebar-account{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1rem;
    margin-left: 30px;
    padding-top: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    width: 77%;
}
.sidebar-account:hover{
    background: rgba(51,153,255,0.1); 
    color: #00BFFF;
    border-radius: 50px;
   transition: all;
   padding-right: 20px;
}
.sidebar-profile-picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position:-50% 50%;
    padding: 1rem 0.5rem 0.3rem 0.3rem;
}
.account-name{
    display: flex;
    align-items: flex-end;
    width: 100%;
}
.p-name{
    padding-left: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}
.s-account{
    position: absolute;
    padding-left: 10px;
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}